/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: 'Jaldi', sans-serif;
  padding-top: 50px;
  padding-bottom: 20px;
}

.landing-button {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    color: white;
    border-radius: 10px;
}

#find-plant-name-button {
    background-color: #1C773B;

}

#find-plant-type-button {
    background-color: #6C9723;

}

#help-me-garden-button {
    background-color:#304C00;

}

.spacer-20 {
	height: 20px;
}

.spacer-40 {
	height: 20px;
}

@media (min-width: 992px) {
	.welcome-text .lead {
		padding-top: 40px;

	}
}
