/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: 'Jaldi', sans-serif;
  padding-top: 50px;
  padding-bottom: 20px;
}

.landing-button {
    border: solid 2px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#find-me-a-plant {
    border-color: green;
    background-color: green;
    color: white;
}

#help-me-garden {
    border-color: brown;
    background-color: brown;
    color: white;
}

.spacer-20 {
	height: 20px;
}

.spacer-40 {
	height: 20px;
}